.items {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.cta {
  position: relative;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: -1px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.footer .button {
  background-color: var(--purple);
  color: white
}