.page {
  padding: 2rem 0;
}

.page header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem
}

.page h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.page section {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.page section .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

section .buttons button {
  color: white;
  background-color: var(--purple);
}

section .buttons button:last-of-type {
  background-color: var(--dark-grey);
}

.page section h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

@media(max-width: 1200px) {
  .page {
    padding: 2rem 1.25rem;
  }
}

@media(max-width: 500px) {
  .page {
    padding: 1.25rem;
  }
}