.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}
.containerInner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container .imgContainer {
  position: relative; 
  min-width: 50%; 
  height: 420px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 40%;
}

.content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.content h6 {
  color: var(--charcoal);
}

.content .buttons {
  display: flex;
  gap: 1rem;
}

.content .buttons button {
  background-color: var(--purple);
  color: white;
  padding: .6rem 1rem;
  border-radius: 4px;
}

.content .buttons button:last-of-type {
  background-color: var(--dark-grey);
}

@media(max-width: 991px) {
  .containerInner {
    flex-direction: column;
    align-items: flex-start;
  }
  .containerInner .imgContainer {
    width: 100%;
    height: 300px;
  }
  .content {
    max-width: 100%;
  }
}

@media(max-width: 400px) {
  .container {
    padding: 1rem;
  }
  .content h3 {
    font-size: 1.25rem;
  }
  .content {
    font-size: 0.8rem;
  }
}

@media(max-width: 360px) {
  .containerInner .imgContainer {
    height: 250px;
  }
}