.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.itemContent {
  display: flex;
  gap: 1rem;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: .8rem;
}

.itemDetail h6 {
  font-size: 1rem;
}