@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.content {
  box-sizing: border-box;
  position: relative;
  z-index: 50;
  width: 390px;
  max-width: var(--radix-popper-available-width);
  border-radius: 4px;
  padding: 1.25rem;
  background-color: white;
  outline: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
  overflow: auto;
}

.content[data-state="open"] {
  animation: fadeIn 200ms ease-in-out;
}

.content[data-state="closed"] {
  animation: fadeOut 200ms ease-in-out;
}